{% extends 'base.html.twig' %}

{% block body %}

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('post_index') }}" type="button" class="btn btn-secondary" style="margin-bottom: 15px">Back to list</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
