{% extends 'base.html.twig' %}
{% block title %}
    <title>Posts</title>
{% endblock %}
{% block body %}
    <h1>Posts</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.text }}</td>
                <td>
                    <a type="button" href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-success">Show</a>
                    <a type="button" href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" href="{{ path('post_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
