{% extends 'base.html.twig' %}

{% block title %}
    <title>
        New Post
    </title>
{% endblock %}

{% block body %}
    <h1>Create new Post</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('post_index') }}" type="button" class="btn btn-secondary">back to list</a>
{% endblock %}
