{% extends 'base.html.twig' %}
{% block title %}
    <title>Post {{ post.id }}</title>
{% endblock %}
{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ post.text }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-secondary" href="{{ path('post_index') }}">Back to list</a>

    <a type="button" class="btn btn-warning" href="{{ path('post_edit', {'id': post.id}) }}">Edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
